.search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px 20px 20px;
}

.search-title {
  font-size: 32px;
  font-weight: 600;
}

.search-block {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  width: 240px;
  height: 40px;
  border: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media ( max-width: 579px) {
  .movies {
    justify-content: center;
  }  
}

@media ( max-width: 499px) {
  .search {
    justify-content: center;
  }

  .search-block {
    margin-top: 20px;
  }
}

