.header {
    padding: 0 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 0 16px 0;
    font-size: 32px;

    @media (max-width: 371px) {
        font-size: 28px;
    }
}

.logo {
    text-decoration: none;
    color: olivedrab;
}

.favorite {
    position: relative;
    display: flex;

    & img {
        width: 40px;
        height: 40px;
    }
}

.count {
    position: absolute;
    top: -8px;
    left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: white;
    border: 2px solid red;
    border-radius: 51%;
    font-size: 16px;
}

.search {
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}
