.favorites {
    background-color: #242529;
    padding: 30px 10px 10px 3%;

    @media (max-width: 587px) {
        padding: 30px 10px 10px 10px;
    }
}

.block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 450px;

    @media (max-width: 587px) {
        justify-content: center;
    }
}

.title {
    margin-bottom: 20px;
    margin-left: 15px;

    @media (max-width: 587px) {
        text-align: center;
        margin-left: 0;
    }
}
